.modal-adjust {
    width: 88%;
    left: 6%; /* (100%-width)/2 */
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
}
@media (min-width: 1280px) {
    .modal-adjust {
        width: 60%;
        left: 20%; /* (100%-width)/2 */
        margin-left: auto;
        margin-right: auto;
        overflow-y: hidden;
    }
}

.modal-adjust .modal-body {
    max-height: none;
    overflow-y: hidden;
}

.modal-adjust .tooltip-inner {
    max-width: 250px;
}

.modal-adjust .divider {
    *width: 100%;
    height: 1px;
    margin: 9px 1px;
    *margin: -5px 0 5px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #ffffff;
}

.modal-adjust .alert-comment {
    margin: 0px;
    color: #737373;
    background-color: #f9f9f9;
    border-color: #e6e6e6;
}

.modal-adjust .alert-comment h4 {
    color: #737373;
}

.modal-adjust .content {
    position: absolute;
    left: 15px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    overflow-y: auto;
}

.modal-overlay {
    position: absolute;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
    background: rgba(255, 255, 255, .8) center;
}
.modal-content {
    position: absolute;
    left: 15px;
    right: 0px;
    padding-right: 15px;
    margin-left: 15px;
    margin-top: -15px;
    height: 100%;
    max-height: none;
    overflow-y: auto;
}

.modal-content .btn-sidebar {
  margin-bottom: 5px;
}
.modal-sidebar {
    position: absolute;
    margin-top: -15px;
    margin-left: -15px;
    max-height: none;
    height: 100%;
    width: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f2f2f2;
    z-index: 1000;
}
.modal-sidebar .accordion {
  margin-bottom: 0px;
}
.modal-sidebar .accordion-group {
    margin-bottom: 0px;
    border: 0px;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
}
.modal-sidebar .accordion-inner {
    padding: 0px;
    border-top: 0px;
}
.modal-sidebar .category-heading {
    background-color: #cccccc;
    border-bottom: 1px solid #d9d9d9;
    cursor: pointer;
}
.modal-sidebar .category-heading:hover {
    background-color: #d9d9d9;
}
.modal-sidebar .category-heading span {
    font-weight: bold;
    padding: 6px 6px 6px 10px;
}
.modal-sidebar .group-heading {
    background-color: #e6e6e6;
    border-bottom: 1px solid #ededed;
    cursor: pointer;
}
.modal-sidebar .group-heading:hover {
    background-color: #ededed;
}
.modal-sidebar .group-heading span {
    font-weight: bold;
    padding: 6px 6px 6px 16px;
}
.modal-sidebar .group-device {
    padding: 8px 8px 8px 22px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #fcfcfc;
    cursor: pointer;
}
.modal-sidebar .group-device:hover {
    background-color: #44b3e2;
    color: #ffffff;
}

.device-selected {
    background-color: #209ed3 !important;
    color: #ffffff;
}

.device-input {
    width: 100%;
}
.device-input th,
.device-input td {
    white-space: nowrap;
    text-align: left;
}
.device-input th:nth-of-type(3) {
    color: #888;
    font-weight: normal;
}
.device-input td:nth-of-type(1) { width:108px; }
.device-input td:nth-of-type(2) { width:168px; }

.table-feeds td:nth-of-type(1) { width:14px; text-align: center; }
.table-feeds td:nth-of-type(2) { width:5%; }
.table-feeds td:nth-of-type(3) { width:15%; }
.table-feeds td:nth-of-type(4) { width:25%; }

.table-inputs td:nth-of-type(1) { width:14px; text-align: center; }
.table-inputs td:nth-of-type(2) { width:5%; }
.table-inputs td:nth-of-type(3) { width:5%; }
.table-inputs td:nth-of-type(4) { width:10%; }
.table-inputs td:nth-of-type(5) { width:25%; }


.modal {
    margin: 0;
    border-radius: 0;
    border: none;
    width: 100%;
    left: 0;
    top: 3%;
}
#device-config-body {
    padding: 0
}
.modal .accordion-toggle {
    white-space: nowrap;
    overflow: hidden;
}
#device-content {
    left: 0.2rem;
    margin-left: 0;
    transition: width 0.5s ease-in-out;
}
#device-sidebar-close {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: .5em;
    line-height: 1.3;
    background: #f2f2f2;
    padding: .3em .6em;
}
#device-sidebar {
    transition: width 0.3s ease-in-out;
    width: 0;
}
#device-sidebar.show {
    width: 100%;
}
.key {
    font-size: 12px !important;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}
.modal .modal-content {
    margin-top: 0
}
.modal .modal-sidebar {
    margin: 0
}

/* add horizontal padding to devices larger than iphone5 (320px)*/
@media (min-width: 340px) {
    .modal {
        margin: 0 auto
    }
    .modal .modal-sidebar {
        margin: 0 -1rem
    }
    #device-content {
        left: 15px;
    }
    #device-config-body {
        padding: 0 1rem
    }
}

@media (min-width: 680px) { 
    #device-sidebar.show {
        width: 250px;
        transition: none;
    }
    #device-content {
        left: 270px;
    }
    .modal {
        margin: 0;
        border-radius: 6px;
        border: 1px solid rgba(0,0,0,0.3);
        width: 94%;
        left: 3%;
    }
    .modal .modal-sidebar {
        margin: 0 -1rem
    }

}

/* hide/show items on very small devices */
.visible-xs {
    display: none
}
@media (max-width: 375px) {
    .hidden-xs {
        display: none
    }
    .visible-xs {
        display: inline-block
    }
}
