.modal-adjust {
    width: 60%; left:20%; /* (100%-width)/2 */
    margin-left: auto; margin-right: auto;
    overflow-y: hidden;
}

.modal-adjust .modal-body {
    max-height: none;
    overflow-y: hidden;
}

.modal-adjust .tooltip-inner {
    max-width: 250px;
}

.modal-adjust .divider {
    *width: 100%;
    height: 1px;
    margin: 9px 1px;
    *margin: -5px 0 5px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #ffffff;
}

.modal-adjust .alert-comment {
    margin: 0px;
    color: #737373;
    background-color: #f9f9f9;
    border-color: #e6e6e6;
}

.modal-adjust .alert-comment h4 {
    color: #737373;
}

.modal-adjust .content {
    position: absolute;
    left: 15px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    overflow-y: auto;
}

.modal-overlay {
    position: absolute;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
    background: rgba(255, 255, 255, .8) center;
}

.modal-sidebar {
    position: absolute;
    margin-top: -15px;
    margin-left: -15px;
    max-height: none;
    height: 100%;
    width: 250px;
    overflow-y: auto;
    background-color: #eee;
    z-index: 1000;
}

.modal-content {
    position: absolute;
    padding-right: 15px;
    margin-top: -15px;
    margin-left: 250px;
    height: 100%;
    max-height: none;
    overflow-y: auto;
}

.group-body tr:hover > td {
    background-color: #44b3e2;
}

.device-input th {
    text-align: left;
}
.device-input th:nth-of-type(3) {
    width: 60%;
    color: #888;
    font-weight: normal;
}

.modal-options {
    margin-bottom: 10px;
    position: relative;
    width:100%;
}

.modal-options .option-header {
    cursor:pointer;
    padding-top: 6px;
    padding-bottom: 4px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-options .option-header .icon-collapse {
    vertical-align: middle;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 4px;
    opacity: 0.3;
}

.modal-options .option-header h5 {
    vertical-align: middle;
    margin: 0px;
}

.modal-options .option-header:hover {
    background-color: #f5f5f5;
}

.modal-options .input-large {
    margin-bottom: 0px;
}

input[type="checkbox"] { margin:0px; }

/* Chrome */
@supports (-webkit-appearance:none ) {
    .checkbox-slider--b {
        height:20px;    
    }
}

/* IE */
@media screen and (-ms-high-contrast: active) , ( -ms-high-contrast : none) {
    .checkbox-slider--b {
        height: 20px;
    }
}

/* Firefox */
_:-moz-tree-row(hover), .checkbox-slider--b {
    width: 20px;
    border-radius: 25px;
    background-color: gainsboro;
    height: 20px;
}

*::before, *::after {
    box-sizing: border-box;
}

.table-options tbody:hover {
    background-color: #f5f5f5;
}
.table-options tbody + tbody {
    border-top: 1px solid #dddddd;
}
.table-options td {
    border-top-width: 0px;
    vertical-align: middle;
}
.table-options td:nth-of-type(3) { text-align: right; }
.table-options td:nth-of-type(4) { width:14px; text-align: center; }

.table-feeds td:nth-of-type(1) { width:14px; text-align: center; }
.table-feeds td:nth-of-type(2) { width:5%; }
.table-feeds td:nth-of-type(3) { width:15%; }
.table-feeds td:nth-of-type(4) { width:25%; }

.table-inputs td:nth-of-type(1) { width:14px; text-align: center; }
.table-inputs td:nth-of-type(2) { width:5%; }
.table-inputs td:nth-of-type(3) { width:5%; }
.table-inputs td:nth-of-type(4) { width:10%; }
.table-inputs td:nth-of-type(5) { width:25%; }
