.thing {
    margin-bottom: 12px;
    background-color: #ddd;
    border: 1px solid #aaa;
}
.thing:hover {
    background-color: #e3e3e3;
}

.thing-header {
    height: 40px;
    cursor: pointer;
}
.thing-header .thing-name {
    padding-left: 10px;
    padding-right: 5px;
    font-weight: bold;
}

.thing-header table {
    width: 100%;
}
.thing-header table td:nth-of-type(1) {
    white-space: nowrap;
    width: 100%;
    color: #666;
}
.thing-header table td:nth-of-type(2) {
    padding: 10px 16px 10px 16px;
    width: 14px;
    text-align: center;
    border-left: 1px solid #eee;
}
.thing-header table td:nth-of-type(2):hover {
    background-color: #eaeaea;
}

.items {
    padding: 0px 5px 5px 5px;
}
.items .item-left {
    margin-right: 8px;
    text-align: right;
    color: #999;
}
.items .item-content {
    font-weight: bold;
    text-align: right;
    color: #666;
}
.items .item-right {
    margin-left: 8px;
    margin-right: 12px;
    text-align: left;
    color: #999;
}

.items table {
    width: 100%;
}
.items table tr {
    height: 42px;
    background-color: #f0f0f0;
    border-left: 2px solid #f0f0f0;
    border-bottom: 1px solid #fff;
}
.items table tr:hover {
    background-color: #f5f5f5;
    border-left: 2px solid #44b3e2;
}
.items table td {
    white-space: nowrap;
}
.items table td:nth-of-type(1) {
    width: 100%;
    padding-right: 40px;
    font-weight: bold;
    text-align: right;
    color: #666;
}
.items table td:nth-of-type(2) {
    text-align: right;
}
.items table td:nth-of-type(2),
.items table td:nth-of-type(3) {
    width: 0%;
}

.items input {
    margin: 0px;
    text-align: right;
}

.items input[type=text]
.items input[type=number] {
    margin-bottom: 2px;
    margin-right: 8px;
    text-align: right;
    width: 55px;
    color: dimgrey;
    background-color: white;
}

/* For Firefox */
.items input[type='number'] {
    -moz-appearance: textfield;
}

/* Webkit browsers like Safari and Chrome */
.items input[type=number]::-webkit-inner-spin-button,
.items input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0px;
}

.items input[type=checkbox]:focus+:before {
    outline: none !important;
}

.items .item-checkbox {
	width: 40px !important;
}

.items .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 150px;
    height: 2px;
    border: none;
    border-radius: 5px;
    background: #999;
    outline: none;
}

.items .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-width: 0px;
    border-radius: 50%;
    background: #44b3e2;
    cursor: pointer;
}

.items .slider::-webkit-slider-thumb:hover {
    background: #209ed3;
}

.items .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-width: 0px;
    border-radius: 50%;
    background: #44b3e2;
    cursor: pointer;
}

.items .slider::-moz-range-thumb:hover {
    background: #209ed3;
}
